In [2]:
from pandas import read_csv as read
import pandas as pd
import random
import numpy as np
import seaborn as sns; sns.set(color_codes=True)
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.metrics import average_precision_score
from plot import pltPRcurve, pltROCcurve

In [14]:
path = "newFilt.csv"
data = read(path, delimiter=",", nrows=100000)

##data.drop('isFlaggedFraud', axis=1, inplace=True)
data.drop('nameOrig', axis=1, inplace=True)
data.drop('nameDest', axis=1, inplace=True)
##data = pd.get_dummies(data)

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['type'] = le.fit_transform(data['type'])

data.head()
X = data.loc[:, data.columns != 'isFraud'].values
y = data.loc[:, 'isFraud'].values

y=y.astype('int') # не совсем понял, почему https://stackoverflow.com/questions/45346550/valueerror-unknown-label-type-unknown

from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE

# feature extraction

model = RandomForestClassifier(n_estimators=110, n_jobs=-1)

rfe = RFE(model, 5)

fit = rfe.fit(X, y)

In [15]:

data.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,hour,newSender,newReceiver,merchant,fraudsEarly,LTS,LTR,IZoB
0,1,3,9839.64,170136.00,160296.36,0.0,0.0,0,0,1,1,1,1,0,0,0,0
1,1,4,181.00,181.00,0.00,0.0,0.0,1,0,1,1,1,0,0,0,0,1
2,1,1,181.00,181.00,0.00,21182.0,0.0,1,0,1,1,1,0,0,0,0,1
3,1,3,9478.39,116494.00,107015.61,0.0,0.0,0,0,1,1,1,1,0,0,0,0
4,1,3,3454.08,9031.96,5577.88,0.0,0.0,0,0,1,1,1,1,0,0,0,0

In [16]:
fit.support_

array([False, False,  True,  True,  True, False,  True, False,  True,
       False, False, False, False, False, False, False])

In [17]:
fit.ranking_

array([ 5,  2,  1,  1,  1,  3,  1, 10,  1, 12,  8,  6,  9, 11,  7,  4])